@charset "utf-8";

html, body, div, h1, h2, h3, h4, h5, h6, p,img {
max-width: 1600px;  height:100%;
}

.container{
	width: 100%;
	height: auto;
	background-color: #6F0;
	padding-top: 15px;
	padding-bottom: 10px;

}

#containerID2{
	width: 100%;
	height: 100%;
	background-color: #45B39D;
}
#inner {
	width: 100px;
	height: 100px;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	float: left;
	display: block;
	background: #0E6655; 
	}
#block1 {
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	display: block;
	background: #D5F5E3; 
	}
#block2 {
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	display: block;
	background: #58D68D; 
}
