@charset "utf-8";
/* CSS Document */

.background-image: {
	width:100%;
	height:100%;
	position: fixed;
}

a.Paint {
	font-size: 60px;
	font-family: futura;
	z-index: 101;
	position: absolute;
	display: block;
	color:#FF7960;
	top: 510px;
	left: 520px;
	text-decoration: none;
	margin: 0 auto;
	background-repeat: no-repeat;
	transition: .3s all; 

}

a.Paint:hover {
	image:url(hoverpaint.jpg);
	color:#FCBE95;
}

a.Paint:hover:after {
	content: url(hoverpaint.jpg); 
    display: block;
    position: absolute;
    color:#FCBE95;
    left: 275px;
    top: -435px;

}


a.Design {
	font-size: 60px;
	font-family: futura;
	z-index: 101;
	position: absolute;
	display: block;
	color:#FF7960;
	top: 405px;
	left: 520px;
	text-decoration: none;
	margin: 0 auto;
	background-repeat: no-repeat;
	transition: .3s all; 

}

a.Design:hover {
	image:url(designhover.jpg);
	color:#FCBE95;
}

a.Design:hover:after {
	content: url(designhover.jpg); 
    display: block;
    position: absolute;
    color:#FCBE95;
    left: 278px;
    top: -334px;

}




a.Capture {
	font-size: 60px;
	font-family: futura;
	z-index: 101;
	position: absolute;
	display: block;
	color:#FF7960;
	top: 615px;
	left: 520px;
	text-decoration: none;
	margin: 0 auto;
	background-repeat: no-repeat;
	transition: .3s all; 

}

a.Capture:hover {
	image:url(hovercapture.jpg);
	color:#FCBE95;
}

a.Capture:hover:after {
	content: url(hovercapture.jpg); 
    display: block;
    position: absolute;
    color:#FCBE95;
    left: 275px;
    top: -545px;
