
@charset "utf-8";

.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}



.Column {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 150px;
	right: -50px;
	z-index: 101;
	text-align: center;
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;
}

.Percentage {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 150px;
	right: -50px;
	z-index: 101;
	text-align: center;
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;
}
.Metamer {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 150px;
	right: -50px;
	z-index: 101;
	text-align: center;
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;

}