@charset "utf-8";

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.ProblemStatement {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 450px;
	right: 0px;
	z-index: 101;
	
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;

}

.Participants {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 450px;
	right: 0px;
	z-index: 101;
	
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;
}

.Persona {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 450px;
	right: 0px;
	z-index: 101;
	
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;
}
.Swipefile {
	font-family: "arial";
	font-weight: 0px;
	font-size: 40px;
	
	position: relative;
	top: 450px;
	right: 0px;
	z-index: 101;
	
	border: solid 5px;
	border-color: #1C2833;
	border-radius: 58%;
	padding: 50px 10px;
	background-color: #85C4A0;
	color:#F2F3F4;
}